.card {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;

	position: relative;

	&__item {
		position: relative;
		top: 29px;
		// left: 36px;
		border: 1px solid #f3f3f3;
		border-radius: 40px;
		padding: 29px;
		width: 210px;
		transition: 0.3s linear all;

		p {
			font-weight: 400;
			font-size: 14px;
		}
		span {
			font-weight: 500;
			font-size: 13px;
			text-transform: uppercase;
			opacity: 0.3;
			margin-bottom: 2px;
		}

		&:hover {
			box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.06);
			transform: translateY(-10px);
		}
	}

	&__favorite {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		width: 32px;
		height: 32px;
		top: 29px;
		border: 1px solid #f3f3f3;
		border-radius: 10px;
		cursor: pointer;

		svg {
			fill: transparent;
			stroke: #ececec;
			stroke-width: 35px;
			transition: 0.3s ease-out all;
		}

		&:hover {
			svg {
				stroke: #ff8585;
				fill: #ff8585;
				transition: 0.3s ease-in all;
			}
		}
	}
}
