* {
	font-family: 'Inter', system-ui;
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e7f6ff;
}

.wrapper {
	max-width: 1080px;
	margin: 85px auto;
	// min-height: 100vh;

	background: #ffffff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
}

.swiper-content {
	height: 300px;
	position: relative;
	margin-bottom: 30px;

	&-prev,
	&-next {
		visibility: visible;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		width: 35px;
		height: 35px;
		border-radius: 100%;
		background: #ffffff;
		box-shadow: 0px 0px 10px #7777775e;

		&-disabled {
			visibility: hidden;
		}
	}

	&-prev {
		left: -19px;

		svg {
			transform: rotate(180deg);
		}
	}
	&-next {
		right: -19px;
	}
	.swiper {
		height: 300px;
		border-radius: 1.25rem;

		&-slide {
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}

// drawer

.overlay {
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.2s all ease;

	&__active {
		opacity: 1;
		visibility: visible;
		.drawer {
			right: 0px;
		}
	}
}
.drawer {
	display: flex;
	flex-direction: column;

	position: absolute;
	right: -385px;
	width: 385px;
	padding: 30px;
	height: 100vh;

	box-shadow: -10px 4px 24px 0 rgba(0, 0, 0, 0.1);
	background: #fff;

	transition: 0.5s right ease;

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		margin-bottom: 30px;
	}
	// &__wrapper {
	// 	display: flex;
	// 	flex-direction: column;
	// 	flex: 1 1 auto;
	// }
	&__items {
		flex: 1 1 auto;
		overflow: auto;
		scroll-margin-top: 20px;
		margin-bottom: 10px;
	}
	&__summary {
		div {
			display: flex;
			font-weight: 400;
			font-size: 16px;
			color: #000;
			margin-bottom: 19px;

			&:nth-child(2) {
				margin-bottom: 24px;
			}

			.dash {
				flex: 1 1 auto;
				margin: 0 10px 0 10px;
				border-bottom: 1px dashed #dfdfdf;
			}
		}
	}
	&__empty {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		h2 {
			margin-bottom: 9px;
		}

		p {
			margin-top: 0;
			margin-bottom: 40px;
			line-height: 150%;
			color: #000;
			opacity: 0.4;
		}
	}
}

.cart {
	border: 1px solid #f3f3f3;
	border-radius: 20px;
	padding: 20px;
	max-width: 325px;
	max-height: 119px;
	margin-bottom: 20px;

	&__btn {
		display: flex;
		cursor: pointer;
		span {
			font-weight: 600;
			font-size: 14px;
			color: #5c5c5c;
		}

		// &-favorite,
		// &-profile {
		// 	cursor: pointer;
		// }
	}

	&__item {
		display: flex;
		align-items: center;

		img {
			margin-right: 21px;
		}
		div {
			margin-right: 12px;
			p {
				margin: 10px 0 5px 0;
				max-width: 150px;
				max-height: 40px;
				overflow: hidden;

				font-size: 17px;
			}
		}
	}

	// &:last-child {
	//     margin-bottom: 0;
	// }
}

// header styles

header {
	border-bottom: 1px solid #f4f4f4;
	img {
		margin-right: 15px;
	}

	h3,
	p {
		margin: 0;
	}
}

// main styles
main {
	padding: 40px 60px 40px 60px;
}

.search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 31px;

	h1 {
		margin: 0;
		font-size: 2rem;
	}

	&__block {
		display: flex;
		align-items: center;

		position: relative;

		border: 1px solid #f3f3f3;
		border-radius: 10px;

		img {
			position: absolute;
			margin-left: 18px;
		}

		input {
			padding: 15px 47px 15px 46px;

			border: none;
			font-weight: 400;
			font-size: 14px;
			color: #c4c4c4;
			background-color: transparent;

			cursor: pointer;
		}

		button {
			position: absolute;
			right: 10px;
		}
	}
}
.btn-back {
	display: inline-block;
	min-width: 245px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	padding: 0;

	border: 1px solid #f2f2f2;
	border-radius: 8px;

	background-color: inherit;

	cursor: pointer;

	&[data-checked='true'] {
		border: 0;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
		background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
		transition: 0.2s linear all;
		svg {
			path {
				fill: #ffffff;
			}
		}
	}

	&[data-checked='false'] {
		&:hover {
			svg {
				path {
					transition: 0.3s linear all;
					fill: #ff8585;
				}
			}
		}
	}

	&__remove {
		position: relative;
		&::before,
		&::after {
			width: 11px;
			height: 2px;
			content: '';
			background-color: #b5b5b5;
			position: absolute;
			border-radius: 10px;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
		opacity: 0.5;
		transition: 0.3s all ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
	&__close {
		background: #9dd458;
		opacity: 1;
		&:hover {
			opacity: 0.7;
		}
		&::after,
		&::before {
			background-color: #fff;
		}
	}
	&__order {
		position: relative;
		width: 100%;
		padding: 18px 0;
		font-weight: 600;
		font-size: 16px;
		color: #fff;
		background: #9dd458;
		transition: 0.3s all ease-in-out;

		svg {
			position: absolute;
			right: 33px;
			transition: 0.3s all ease-in-out;
		}

		&:hover {
			background-color: lighten(#9dd458, 5%);

			svg {
				transform: translateX(8px);
			}
		}
		&:active {
			background-color: darken(#91c750, 5%);
		}

		// &::after {
		//     content: '';
		//     right: 33px;
		//     width: 15px;
		//     height: 13px;
		//     position: absolute;
		//     background-image: url('../public/img/arrow-order.svg');
		//     background-size: contain;
		// }
	}

	&__back {
		max-width: 245px;
		padding: 24px 20px;

		svg {
			left: 33px;
			transition: 0.3s all ease-in-out;
			transform: rotate(180deg);
		}

		&:hover {
			svg {
				transform: translateX(-8px) rotate(180deg);
			}
		}
	}
}

// Favourite & profile page

.favor,
.profile {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 300px);
	padding: 39px 60px;

	&__empty {
		img {
			width: 70px;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 31px;

		h2 {
			margin: 0;
			margin-bottom: 3px;
			font-size: 2rem;
			font-weight: 700;
		}

		svg {
			margin-right: 20px;
		}
	}
}
