body {
	background-color: #e7f6ff;
	font-family: 'Inter', sans-serif;
}

svg {
	cursor: pointer;
}

.wrapper {
	max-width: 1080px;
	margin: 50px auto;
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 40px 60px;
	border-bottom: 1px solid #eaeaea;
}

.logo {
	display: flex;
	align-items: center;

	&__image {
		width: 40px;
		height: 40px;
	}
	&__info {
		margin-left: 16px;
	}
	&__title {
		font-weight: 700;
		font-size: 20px;
		text-transform: uppercase;

		color: #000000;
	}
	&__subtitle {
		font-size: 14px;

		color: #9d9d9d;
	}
}

.list {
	display: flex;

	list-style: none;

	&__item {
		display: flex;
		align-items: center;
		margin-left: 30px;
	}
	&__item:first-child {
		margin-left: 0;
		span {
			margin-left: 10px;
			font-weight: 600;
			font-size: 14px;
			color: #5c5c5c;
		}
	}
}

.main {
	padding: 40px 60px;

	.title {
		margin-bottom: 30px;
	}
}
.cards {
	&__wrapper {
		display: flex;
		gap: 40px;

		flex-wrap: wrap;
	}
}
.card {
	max-width: 210px;
	background: #ffffff;
	border: 1px solid #f3f3f3;
	border-radius: 40px;
	padding: 20px 29px 34px 29px;
	transition: 0.3s ease-in;

	&:hover {
		background: #ffffff;
		border: 1px solid #f8f8f8;
		box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
	}

	&__image {
		display: flex;
		justify-content: center;

		margin-bottom: 14px;
		img {
			width: 132px;
			height: 112px;
		}
	}

	&__title {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 14px;
	}
	&__add {
		display: flex;
		justify-content: space-between;
	}
	&__price {
		display: flex;
		flex-direction: column;

		font-weight: 500;
		font-size: 11px;
		line-height: 13px;
		text-transform: uppercase;

		color: #bdbdbd;

		span {
			margin-top: 2px;

			font-weight: 700;
			font-size: 14px;
			text-transform: lowercase;

			color: #000000;
		}
	}
	&__button {
		width: 32px;
		height: 32px;
		background: #ffffff;
		border: 1px solid #f2f2f2;
		border-radius: 8px;

		svg {
			width: 11px;
			height: 11px;
		}
	}
}
